@import "../../styles/breakpoint"
@import "../../styles/color"
@import "../../styles/flexPosition"

.container
  max-width: 1170px
  margin: 0 auto
  font-family: 'Raleway', sans-serif
  font-size: 18px
  @media screen and (max-width: $md)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.howItWorkHeader
  @extend .flexCenter
  margin-top: 60px
  @media screen and (max-width: $h1)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    flex-wrap: wrap


.headerLabel
  h2
    margin-top: 0
    font-size: 36px
  p
    font-size: 16px
    line-height: 25px

  @media screen and (max-width: $h1)
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    flex-direction: column
    margin-top:  20px
    padding: 0
    p
      margin: 0 10px

  @media screen and (max-width: $sm)
    p
      margin: 0 10px

.video
  margin-right: 15px
  iframe
    width: 555px
    height: 312px
  @media screen and (max-width: $sm)
    margin-right: 0
    iframe
      width: 462px
      height: 260px
  @media screen and (max-width: $xs)
    iframe
      width: 370px
      height: 208px
  @media screen and (max-width: 390px)
    iframe
      width: 302px
      height: 174px

.mainSteps
  @extend .flexCenter
  margin: 60px 0
  font-size: 36px
  @media screen and (max-width: $lg)
    margin: 40px 0
  @media screen and (max-width: $md)
    margin: 35px 0

.stepContainer
  display: flex
  justify-content: center
  flex-wrap: wrap

.step
  max-width: 165px
  margin: 15px 10px
  text-align: center
  div
    display: flex
    justify-content: center
    align-items: center
    height: 90px
    width: 90px
    border-radius: 50%
    background-color: #ebebeb
    margin: 0 auto
    font-size: 30px
    font-weight: 700
    &:hover
      background-color: $blue-color
      cursor: pointer
      color: white
  h4
    margin: 20px 0 40px 0
    font-size: 16px
  p
    margin: 0
    font-size: 14px
    font-weight: 300

.startContestLink
  @extend .flexCenter
  background-color: $blue-color
  width: 100%
  z-index: 9999
  margin: 60px 0
  padding: 30px 0
  a
    display: block
    padding: 18px 0
    border: 2px solid $white-color
    border-radius: 5px
    width: 235px
    font-weight: 800
    color: $white-color
    font-size: 20px
    text-transform: uppercase
    text-align: center
    text-decoration: none

    @media screen and (max-width: $xs)
      width: 200px
      padding: 15px 0

    &:hover
      background-color: $white-color
      color: $blue-color
  @media screen and (max-width: $md)
    margin: 30px 0
  @media screen and (max-width: $sm)
    margin: 10px 0

.questionsContainer
  margin: 80px 0
  @media screen and (max-width: $md)
    margin: 40px 0
  @media screen and (max-width: $sm)
    margin: 30px 0

.title
  display: flex
  align-items: center
  overflow: hidden
  border-bottom: 1px solid $white-color
  padding: 20px 10px
  @media screen and (max-width: $xs)
    padding: 20px 0px 20px 5px

.questionsMark
  @extend .flexCenter
  height: 60px
  width: 60px
  border-radius: 50%
  border: 2px solid $blue-color
  color: $blue-color
  font-size: 36px
  @media screen and (max-width: $sm)
    height: 50px
    width: 50px
  @media screen and (max-width: $xs)
    height: 45px
    width: 45px
  @media screen and (max-width: $x360)
    height: 40px
    width: 40px

.questionsTitle
  padding-left: 15px
  font-size: 30px
  margin: 0
  @media screen and (max-width: $sm)
    font-size: 28px
  @media screen and (max-width: $xs)
    padding-left: 8px
    font-size: 26px
  @media screen and (max-width: 420px)
    font-size: 24px
  @media screen and (max-width: 390px)
    font-size: 20px
  @media screen and (max-width: $x360)
    font-size: 19px

.questions
  padding-left: 10px
  padding-right: 10px
  list-style-type: none
  li
    padding: 15px 15px
    margin: 10px 0
    text-decoration: none
    h4
      font-size: 18px
      padding: 15px 0
      margin: 0 0 20px 0
      line-height: 18px
    p
      font-size: 16px
      font-weight: 300
      line-height: 20px
      margin-top: 15px
      a
        color: $blue-color
  @media screen and (max-width: $sm)
    padding-left: 8px
    padding-right: 5px
    li
      padding: 0
    li > h4
      padding: 10px 0
    li > p
      margin-top: 10px

  @media screen and (max-width: $x360)
    li > h4
      font-size: 16px
    li > p
      font-size: 14px


.linkContainer
  list-style-type: none
  margin: 20px 0 0
  padding: 0 25px
  li
    margin: 0
    padding: 0

.link
  color: $blue-color

.getInTouch
  @extend .flexCenter
  padding: 35px 0
  color: $white-color
  width: 100%
  background-color: #455A89
  @media screen and (max-width: $h1)
    flex-direction: column
    padding: 25px 0
  @media screen and (max-width: $md)
    flex-direction: column

.getInTouchContainer
  display: flex
  @media screen and (max-width: $h1)
    flex-direction: column
    align-items: center
    text-align: center

.envelopeIcon
  @extend .flexCenter
  background-color: $white-color
  height: 100px
  width: 100px
  border-radius: 50%
  margin-right: 60px
  color: #455a89
  font-size: 40px
  @media screen and (max-width: $h1)
    margin-right: 0
  @media screen and (max-width: $x360)
    height: 80px
    width: 80px

.touchInfo
  max-width: 650px
  h1
    margin: 0 0 40px
    color: $white-color
  p
    margin: 20px 0 0
    text-decoration: none
    font-size: 20px
    font-weight: 300
    color: $white-color
    a
      font-size: 20px
      color: $red-color
      text-decoration: none
  @media screen and (max-width: $h1)
    h1
      margin: 20px 0 20px
    p
      margin: 20px 0 30px 0
  @media screen and (max-width: $x360)
    h1
      font-size: 26px
    p
      font-size: 18px

.touchButton
  margin-left: 40px
  height: 50px
  @media screen and (max-width: $xl)
    margin-left: 20px
  a
    padding: 22px 40px
    border-radius: 5px
    border: 2px solid $white-color
    text-decoration: none
    color: $white-color
    text-transform: uppercase
    font-weight: 700
    &:hover
      background-color: $white-color
      color: $blue-color
  @media screen and (max-width: $md)
    margin-top: 20px

.scrollUp
  @extend .flexCenter
  position: fixed
  height: 33px
  width: 33px
  border-radius: 50%
  font-size: 15px
  opacity: 70%
  cursor: pointer
  right: 10px
  bottom: 70px
  background-color: $red-color
  text-decoration: none
  &:hover
    background-color: #f65422

.footer
  @extend .flexCenter
  padding-top: 86px
  color: $white-color
  width: 100%
  background-color: #2B3030